*{
    padding:0;
    margin:0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.container
{
    padding:50px;

}
.section-one{
    background-color: black;
    color: aliceblue;
    padding:20px;
}
.section-one_contact
{
    background-color: orangered;
    color: azure;
    text-decoration: none;
    padding-right:10px;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    margin-top: 10px;
    display:inline-block;
}
.section-one_name
{
    font-size: 60px;
}
.section-one_role
{
    font-size: 30px;
    margin-top: 10px;
}
.section-two,.section-four,.section-five,.section-three
{
    margin-top:10px;
}
.section-two_desc,.section-four_desc,.section-five_desc,.section-three_desc
{
    margin-top:10px;
}
.section-five{
    background-color: black;
    color:white;
    padding:20px;
}
.section-five_title a{
    color:skyblue;
}
.section-three,.section-four{
    list-style:none;
}
.section-three{
    background-color: #6462FD;
    color:black;
    padding:20px;
    border-radius: 10px;
    height:200px;
    display:inline-block;
    vertical-align: top;
}
.section-four
{
    background-color: #fe7517;
    color:black;
    padding:20px;
    border-radius: 10px;
    height:200px;
    display:inline-block;
    vertical-align: top;

}
.contact-form
{
    margin-top:20px;
}
.contact-form_input,.contact-form_textarea,.contact-form_submit{
    margin-top:10px;
}
.contact-form_input
{
    padding:10px;
    border:none;
    border-bottom: solid black 1px;
}
.contact-form_textarea
{
    padding:10px;
    border:none;
    border: solid black 1px;
}
.contact-form_submit
{
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:orangered;
    color:black;
    border:none;
}
    
